<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://raw.githubusercontent.com/zhuxiujia/GoMybatis/master/mybatis-3-mapper.dtd">
<mapper>
    <!--logic_enable 逻辑删除字段-->
    <!--logic_deleted 逻辑删除已删除字段-->
    <!--logic_undelete 逻辑删除 未删除字段-->
    <!--version_enable 乐观锁版本字段,支持int,int8,int16,int32,int64-->
    <resultMap id="BaseResultMap" tables="biz_mall_class">
        <id column="id" langType="id"/>
        <result column="name" property="name" langType="string"/>
        <result column="logo_img" property="logo_img" langType="string"/>
        <result column="version" property="version" langType="int" version_enable="true"/>
        <result column="create_time" property="create_time" langType="Time"/>
        <result column="delete_flag" property="delete_flag" langType="int" logic_enable="true" logic_undelete="1"
                logic_deleted="0"/>
    </resultMap>
    <insertTemplete></insertTemplete>
    <updateTemplete wheres="id=#{id}"></updateTemplete>
    <deleteTemplete wheres="id=#{id}"></deleteTemplete>

    <selectTemplete wheres="id=#{id}"></selectTemplete>
    <selectTemplete id="FindAll" wheres="delete_flag = 1"></selectTemplete>

    <select id="SelectByCondition">
        SELECT
        *
        FROM
        biz_mall_class
        WHERE
        delete_flag = 1
        <if test="name != ''">
            AND name like #{name+'%'}
        </if>
        ORDER BY create_time desc
        <if test="page != null and size != null">
            LIMIT #{arg.Pageable.Page},#{arg.Pageable.PageSize}
        </if>
    </select>

    <select id="CountByCondition">
        SELECT COUNT(1) FROM biz_mall_class WHERE delete_flag = 1
        <if test="name != ''">
            AND name like #{name+'%'}
        </if>
    </select>

</mapper>
