<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://raw.githubusercontent.com/zhuxiujia/GoMybatis/master/mybatis-3-mapper.dtd">
<mapper>
    <!--logic_enable 逻辑删除字段-->
    <!--logic_deleted 逻辑删除已删除字段-->
    <!--logic_undelete 逻辑删除 未删除字段-->
    <!--version_enable 乐观锁版本字段,支持int,int8,int16,int32,int64-->
    <resultMap id="BaseResultMap" tables="biz_property">
        <id column="id" langType="id"/>
        <result column="user_id" property="user_id" langType="string"/>
        <result column="integral" property="integral" langType="int"/>
        <result column="amount" property="amount" langType="int"/>

        <result column="version" property="version" langType="int" version_enable="true"/>
        <result column="create_time" property="create_time" langType="time.Time"/>
        <result column="delete_flag" property="delete_flag" langType="int" logic_enable="true" logic_undelete="1" logic_deleted="0"/>
    </resultMap>

    <insertTemplete/>
    <selectTemplete wheres="id=#{id}"></selectTemplete>
    <updateTemplete wheres="id = #{id}"></updateTemplete>
    <selectTemplete id="selectByUserId" wheres="user_id = #{user_id}"></selectTemplete>
</mapper>